<div class="message <%= message.kind %> <%= message.status %>" id="<%= dom_id message %>">
  <div class="details">
    <%= message.content %>
  </div>
  <div class="author">
    <%= message.from_username %>
  </div>
</div>
