<div class="nes-container with-title is-rounded message <%= message.kind %> <%= message.status %>" id="<%= dom_id message %>" data-controller="chat-message">
  <p class="title username">
    <%= message.from_username %>
  </p>
  <p class="title kind">
    <span class="nes-text <%= message_title_class message %>">
      <%= message.kind %>
    </span>
    <span class="nes-text is-disabled">
      <%= message.from_username %>
    </span>
  </p>
  <p>
    <%= message.content %>
  </p>
  <div class="controls">
    <% if message.chat? %>
      <%= render('/messages/chat_controls', message: message) %>
    <% else %>
      <%= render('/messages/activation_controls', message: message) %>
    <% end %>
  </div>
</div>
