<%= turbo_stream_from @channel %>
<%= turbo_frame_tag @channel do %>
  <div id="messages">
    <%= render @messages %>
  </div>
<% end %>
<%= turbo_stream_from @user %>
<%= turbo_frame_tag @user do%>
  <%= render @user %>
<% end %>
