!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      NumberTwo - 
      - if content_for?(:title)
        = content_for :title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    %link{href: "https://fonts.googleapis.com/css?family=Press+Start+2P", rel: :stylesheet}
    %link{href: "https://unpkg.com/nes.css@2.3.0/css/nes.min.css", rel: :stylesheet}
  %body
    = yield
