<!DOCTYPE html>
<html>
  <head>
    <title>NumberTwo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet'>
    <link href='https://unpkg.com/nes.css@2.3.0/css/nes.min.css' rel='stylesheet'>
  </head>
  <body class="overlay">
    <%= yield %>
  </body>
</html>
